.About__content {
    img {
        margin-top: 50px;
        width: 1400px;
    }
    .About__content--text {
        h1 {
            font-size: 1.7rem;
            text-align: center;
            padding: 30px 0;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .About__content--intro {
            font-size: 1.2rem;
            font-weight: 600;
        }
        ul {
            list-style-type: disc;
            padding: 5px 10px;
        }
        li {
            margin-bottom: 10px;
        }
        .content--text {
            padding: 15px 0;
        }
        .content__description {
            display: block;
            padding: 15px 0;
        }
    }
}
