.footer {
    margin-top: 50px;
    h5 {
        font-size: 1.1rem;
        font-weight: 600;
        color: black;
        margin-bottom: 1rem;
    }
    ul {
        li {
            padding: 0.3rem;
        }
    }
    a:hover {
        color: #6b7280;
    }
}
